@{
    ViewBag.Title = "About";
}

<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h2>About Mpangazitha's Shop</h2>
            </div>
            <p>Welcome to Mpangazitha's Shop — your one stop online clothing store based in Johannesburg.</p>
            <p>We offer a wide range of quality clothing including tracksuits, t-shirts and more at affordable prices.</p>

            <div class="panel panel-default" style="margin-top:20px;">
                <div class="panel-heading"><h4>Contact Us</h4></div>
                <div class="panel-body">
                    <p><i class="fa fa-phone"></i>&nbsp; 0680699772</p>
                    <p><i class="fa fa-envelope"></i>&nbsp; edsonthobani@gmail.com</p>
                    <p><i class="fa fa-map-marker"></i>&nbsp; Johannesburg, Gauteng, South Africa</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Opening Hours</h4></div>
                <div class="panel-body">
                    <p>Monday - Friday: 8am - 5pm</p>
                    <p>Saturday: 9am - 2pm</p>
                    <p>Sunday: Closed</p>
                </div>
            </div>
        </div>
    </div>
</div>